// rem fallback - credits: http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin font-size($size){
    font-size: $size;
    font-size: calculateRem($size);
}

$accent_color: #00796B;

/* TABLE OF CONTENTS

    1. Basic Document Styles
    2. Modal
    3. Button
    4. Media Types
    
*/
/* 1. Basic Document Styles
-------------------------------------------------*/

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html { font-size: 100%; }

html, body { height: 100%; }    

body {
    overflow-x: hidden;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, .87);
    @include font-size(14px);
    line-height: 20px;
    line-height: 1.25rem;
}

h1 {
    @include font-size(112px);
    color: rgba(0,0,0,.54);
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-weight: 300;
}

h2 {
    @include font-size(56px);
    color: rgba(0,0,0,.54);
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-weight: 400;

}

h3 {
    @include font-size(45px);
    color: rgba(0,0,0,.54);
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-weight: 400;
    line-height: 48px;
    line-height: 3rem;
}

h4 {
    @include font-size(34px);
    color: rgba(0,0,0,.54);
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-weight: 400;
    line-height: 40px;
    line-height: 2.5rem;
}

h5 {
    @include font-size(24px);
    font-weight: 400;
    color: rgba(0,0,0,.87);
    line-height: 32px;
    line-height: 2rem;
}

h6 {
    @include font-size(20px);
    font-weight: 500;
    color: rgba(0,0,0,0.87);
}

caption {
    @include font-size(12px);
    color: rgba(0,0,0,0.54);
}

a {  
  color: $accent_color;  
  cursor: pointer;
}

p { margin-bottom: 1rem; }


/* 2. Modal
-------------------------------------------------*/

/* 3. Button
-------------------------------------------------*/


/* 4. Media Types
-------------------------------------------------*/
@media (max-width: 600px) {
  .title {
    @include font-size(56px);
  }
}



