// rem fallback - credits: http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin font-size($size){
    font-size: $size;
    font-size: calculateRem($size);
}

$primary_color: #9B26AF;
$med_color: #7A1EA1;
$bold_color: #691A99;
$accent_color: #68EFAD;
$background_color: #FAFAFA;

/* TABLE OF CONTENTS

    1. Basic Document Styles
    2. App Container
    3. List
    4. Modal
    5. Button
    6. Media Types
    
*/
/* 1. Basic Document Styles
-------------------------------------------------*/

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html { font-size: 100%; }

html, body { height: 100%; }    

body {
    overflow-x: hidden;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, .87);
    @include font-size(14px);
    line-height: 20px;
    line-height: 1.25rem;
    background-color: $background_color;
}

h1 {
    @include font-size(112px);
    color: rgba(0,0,0,.54);
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-weight: 300;
}

h2 {
    @include font-size(56px);
    color: rgba(0,0,0,.54);
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-weight: 400;

}

h3 {
    @include font-size(45px);
    color: rgba(0,0,0,.54);
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-weight: 400;
    line-height: 48px;
    line-height: 3rem;
}

h4 {
    @include font-size(34px);
    color: rgba(0,0,0,.54);
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-weight: 400;
    line-height: 40px;
    line-height: 2.5rem;
}

h5 {
    @include font-size(24px);
    font-weight: 400;
    color: rgba(0,0,0,.87);
    line-height: 32px;
    line-height: 2rem;
}

h6 {
    @include font-size(20px);
    font-weight: 500;
    color: rgba(0,0,0,0.87);
}

caption {
    @include font-size(12px);
    color: rgba(0,0,0,0.54);
}

a {  
  color: $accent_color;  
  cursor: pointer;
}

p { margin-bottom: 1rem; }


/* 2. App Container
-------------------------------------------------*/
.container {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

/* 3. List
-------------------------------------------------*/
.list-group-item {
  background-color: $primary_color;
}

button.list-group-item {
  color: #FFFFFF;
}

button.list-group-item:hover {
  background-color: $bold_color;
  color: #FFFFFF;
}

.glyphicon {
  padding-right: 10px;
}

/* 4. Modal
-------------------------------------------------*/
.modal_container {
  
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal_content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.modal_close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: 700;
}

.modal_close:hover,
.modal_close:focus
{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.showModal {
  display: none;
}

.modal_header {
  padding: 2px 16px;
  background-color: #fff;
  
}

.modal_body {
  padding: 2px 16px;
}

.modal_footer {
  padding: 2px 16px;
}

/* 5. Button
-------------------------------------------------*/
.btn {
  color: $accent_color;
  min-width: 88px;
  text-transform: uppercase;
  height: 36px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 500;
  background-color: white;
  transition: all 0.5s ease;
}

.btn:hover {
  color: $accent_color;
  background-color: rgba( 104, 239, 173, 0.2);
}

.btn:active,
.btn:focus, {
  color: $accent_color;
  background-color: rgba( 104, 239, 173, 0.4 );
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

.btn.active.focus,
.btn.active:focus,
.btn.focus, 
.btn:active.focus, 
.btn:active:focus, 
.btn:focus {
  outline: none;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

/* 6. Media Types
-------------------------------------------------*/
@media (max-width: 600px) {
  .title {
    @include font-size(56px);
  }
}



